<app-loading-overlay [isActive]="loading"></app-loading-overlay>
<div class="page-layout simple fullwidth" fxLayout="column">
    <app-title-header
        [icon]="'assistant'"
        [section]="'Cases'"
        [title]="'Listado'"
        [search]="true"
    ></app-title-header>
    <div fxLayout="column" class="mx-12 mt-32">
        <div fxLayout="row" fxLayoutAlign="end center">
            <div
                fxLayout="row"
                fxLayoutAlign="end center"
                class="mt-12 create-button"
            >
                <button mat-fab class="accent" routerLink="create">
                    <mat-icon>playlist_add</mat-icon>
                </button>
            </div>
        </div>
        <div fxLayout="column" class="mx-12">
            <div fxFlex="100" class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" style="width: 100%">
                    <!-- Position Column -->
                    <ng-container matColumnDef="posicion">
                        <th mat-header-cell *matHeaderCellDef>No.</th>
                        <td mat-cell *matCellDef="let element; index as i">
                            {{ i + 1 }}
                        </td>
                    </ng-container>

                    <!-- Serial Column -->
                    <ng-container matColumnDef="serial">
                        <th mat-header-cell *matHeaderCellDef>No. de serie</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.serial }}
                        </td>
                    </ng-container>

                    <!-- Brand Column -->
                    <ng-container matColumnDef="brand">
                        <th mat-header-cell *matHeaderCellDef>Marca</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.brand }}
                        </td>
                    </ng-container>

                    <!-- Model Column -->
                    <ng-container matColumnDef="model">
                        <th mat-header-cell *matHeaderCellDef>Modelo</th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.model }}
                        </td>
                    </ng-container>

                    <!-- Inventory code Column -->
                    <ng-container matColumnDef="inventoryCode">
                        <th mat-header-cell *matHeaderCellDef>
                            Código de Inventario
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.inventoryCode }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <button
                                mat-icon-button
                                color="accent"
                                [routerLink]="element.id"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                </table>
                <mat-paginator
                    fxLayoutAlign="end center"
                    style="width: 100%"
                    [pageSizeOptions]="[10, 20]"
                    showFirstLastButtons
                ></mat-paginator>
            </div>
        </div>
    </div>
</div>
