// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

// Izitoast
@import "~izitoast/dist/css/iziToast.css";

app-full-layout-container,
app-simple-layout-container{
    width: 100%;
}

app-login #login{
    min-height: 100vh;
}

.create-button {
    position: absolute;
    padding-right: 2%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}

.filter-by {
    display: flex;
    align-items: baseline;
    margin-right: 8px;
    font-family: Muli, Helvetica Neue, Arial, sans-serif;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.54);
    flex-direction: row;
    justify-content: start;
    
    mat-label {
        margin: 0 10px;
    }
    mat-form-field {
        font-size: 1.3rem;
    }
}